@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    font-family: 'josefin_sansregular'; 
    text-align: center;
}
p {
    font-size: 20px;
}
h1 {
    font-size: 40px;
    margin-top: 200px;
}
body {
    height: 100vh;
    background-image:linear-gradient(50deg , #0000ff , #ffC0CB);
    color: #fff;
}
@media all and  (max-width:512px) {
    
     p {
        font-size: 15px;
        

    }
}