body {
    height: 200vh;
    background-image:linear-gradient(50deg , #0000ff , #ffC0CB);
    color: #fff;
    text-align: center;

}
h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'josefin_sansregular';
    padding-top: 200px;
}
p {
    font-size: 30px;
    font-weight: 300;
    font-family: 'josefin_sansregular';
    max-width: 900px;
    margin-left: 300px;
}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media all and  (max-width:980px) {
    body p {
        margin-left: 100px;
    }

}
@media all and  (max-width:768px) {
    body p {
        margin-left: 60px;
    }

}
@media all and  (max-width:640px) {
    body p {
        margin-left: 30px;
    }

}
@media all and  (max-width:540px) {
    body p {
        margin-left: 10px;
    }

}
@media all and  (max-width:412px) {
    body p {
        margin-left: 5px;
    }
}
@media all and  (max-width:360px) {
    body p {
        margin-left: 5px;
        font-size: 15px;
    }
}