* {
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppinsregular';
}
body {
    height: 200vh;
    background-image:linear-gradient(50deg , #0000ff , #ffC0CB);
    color: #fff;
    text-align: center;
    font-family: 'josefin_sansregular';

}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
div.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 33.3%;
    text-align: center;
    left: 500px;
    top: 50px;
    position: relative;
    height:200vh;
    font-family: 'josefin_sansregular';

}

div.container ul {
    display: flex;
    margin-bottom: 10px;
    font-family: 'josefin_sansregular';
    height:100px;
    

    
}
div.container ul li {
    margin-right: 10px;
font-family: 'josefin_sansregular';
    height: 50px;

}

h1 {
    font-family: 'josefin_sansregular';
    
}
@media all and (max-width:980px) {
    ul {
       font-size: 20px;
       margin-left: -200px;
    }
    
}
@media all and (max-width:940px) {
    ul {
       font-size: 20px;
       margin-left: -200px;
    }
    
}
@media all and (max-width:1024px) {
    ul {
       font-size: 20px;
       margin-left: -200px;
    }
    
}
@media all and (max-width:860px) {
    ul {
       font-size: 20px;
       margin-left: -200px;
    }
    
}
@media all and (max-width:640px) {
    ul {
        font-size: 20px;
       margin-left: -400px;
    }
    
}

