@font-face {
        font-family: 'josefin_sansregular';
        src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
             url('../fonts/josefinsans-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
* {
    font-family: 'josefin_sansregular';
    margin: 0;
    overflow-x: hidden;
    
    
}
form {
    text-align: center;
}

form:first-child {
    padding-left: 600px;

}
section.content {
    height: 100vh;
    background-image:linear-gradient(50deg , #0000ff , #ffC0CB);
    display: flex;
    align-items: center;

}
section.content label {
    padding-right: 30px;
}
section.content input {
    height: 30px;
    width: 300px;
}
@media and all (max-width:1080px){
    section.content input {
    left: -200px;
    }
}