div.content {
    text-align: center;
    align-items: center;
}
div.content h1 {
    font-size: 44px;
    font-weight: 600;
}
div.bottom div.item {
    background: #fff;
}
div.bottom div.item a {
    text-decoration: none;
}
div.bottom div.item a h1 {
    font-size: 30px;
    font-weight: 600;
   text-decoration: underline;
}
div.bottom div.item {
    display: flex;
    justify-content: space-between;
}
div.bottom div.item p {
    font-size: 18px;
    font-weight: 600;
    max-width: 900px;
}
div.bottom a.boss {
    margin-right: 5%;
}
div.bottom a.boss:first-child {
   height: 100%;
   width: 100%;
}
div.bottom a.boss img {
    height: 120px;
    width: 120px;
}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    
    font-family: 'josefin_sansregular';
    background-color: #fff;
}

body {
    height: 200vh;
}
