
* {
  /* margin: 0; */
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.7px auto;
  font-family: 'josefin_sansregular';
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width:1040px;
}
nav {
  display: flex;

}
.arrow-down{
  width:60px;
  height:40px;
  border-left:30px solid transparent;
  border-right: 28px solid transparent;
  border-top: 55px solid black ;
  animation:arrowAnimation 1s infinite ;
  margin-left:700px;
  margin-top:40px;
}
@keyframes arrowAnimation {
  0%{
    transform:translateY(0);
    opacity:1;
  }
  50%{
    transform:translateY(10px);
    opacity:0.5;
  }
  100%{
    transform:translateY(0);
    opacity:1;
  }
  
}
div.bg {
  background-image:linear-gradient(50deg , #0000ff , #ffC0CB);
}
header ul {
  display: flex;
  justify-content: space-between;
}
.navbar{
    position:relative;
    left:750px;
    top:20px;
    font-size:18px;
    display:flex;
    list-style:none;
    gap:3rem;
}
button.donate01 {
  padding: 20px;
  border-radius: 35px;
  color: #fff;
  background: #000;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}
nav ul li a img {
  margin-right: 300px;
  height: 100px;
}
nav ul div.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  font-size: 15px;
}
nav ul li div.left {
	display: flex;
	justify-content: space-between;
}
  
nav ul div.left li a {
  margin-right: 30px;
  color: #000;
}
nav ul div.left a button.blue {
	padding: 20px 40px;
	background-color: rgb(159, 16, 16);
	border-radius: 35px;
	color: #fff;
}
section.spotlight{
  height: 100vh;
  width: 100%;
  text-align: center;
}
section.spotlight h1 {
  text-align: center;
  padding-top: 200px;
  margin-bottom: 30px;
  font-size: 53px;
  font-weight: 700;

}
section.spotlight p {
  text-align: center;
  max-width: 600px;
  margin-left:450px;
  font-size:20px;
  
}
section.spotlight img {
  height: 30vh;
  padding-left: 900px;

}

.button1{
  position:relative;
  top:30px;
  padding:20px 40px;
  background-color: black;
  border-radius: 35px;
  color: #fff;
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
section.deaths {
  height: 100vh;
  display: flex;
  flex-wrap: none;

}
section.deaths img {
  height: 70vh;
  padding-left: 100px;
  margin-left: 50px;
  display: block;
  padding-top: 200px;

}
section.deaths div.content p {
  max-width: 700px;
  margin-left: 200px;
  font-size: 20px;
}
section.deaths div.content h1 {
  display: block;
  margin-top: 300px;
  margin-left: 200px;
  max-width: 500px;
  font-size: 30px;

}
section.storage  {
  height: 100vh;
  background-image: url(../Images/bloodbank.jpg)  ;
  background-size: cover;
  text-align: center;
  color: #02a32b;
}
section.storage h1 {
  text-align: center;
  font-size: 53px;
  font-weight: 700;
  padding-top: 300px;
  padding-bottom: 30px;
  filter: none;
  color: #070707;

}
section.storage p {
  text-align: center;
  font-size: 20px;
  max-width: 400px;
  margin-left: 550px;
  color: #fff;
  background-color: #000;
  border-radius: 35px;


}
h1.head1 {
  padding-top: 300px;
}
footer {
  background-color: #b5a4df;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 400px;


}
footer ul li a img {
  height: 100px;
  margin-bottom: 50px;
}
footer ul li {
  margin-bottom: 20px;
  color: #fff;


}
footer ul li a {
  color: #fff;
  list-style:none;
}
footer ul.second li:first-child {
  margin-top: 200px;
}
section.faq {
  height: 100vh;

}
section.faq h1 {
  text-align: center;
  font-size: 53px;
  font-weight: 700;
  margin-top: 100px;
}
section.faq div.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
section.faq div.container div.item p {
  max-width: 500px;
  left: 400px;
}
section.faq div.container div.item h3 {
  left: 400px;
  margin-top: 300px;
}
section.steps {
  height: 100vh;
  text-align: center;
}
section.steps h1 {
  font-size: 53px;
  font-weight: 700;
}
section.steps ul li {
  font-size: 20px;
  font-weight: 200;

}
div.faq-section {
  text-align: center;
  height: 100vh;
}
div.faq-section h2.faq-title {
  font-size: 53px;
  color: #fff;
  padding-top: 200px;

}
div.faq {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
div.faq div.faq-content div.faq ul li h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
}


section.steps h1 {
    font-size: 53px;
    font-weight: 700;
    margin-bottom: 50px;
  padding-top: 200px;
}

section.steps ul li {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
.sectio{
    top:0px;
}

.steps{
    width:100%;
    background:linear-gradient(40deg, #0000FF, #FFC0CB);

}
section.three {
  height: 100vh;
  text-align: center;
  margin-top: 300px;
}
section.three div.box2 h1.head1 {
  font-size: 30px;
  margin-bottom: 90px;
  color: #fff;
}
section.three div.box2 div.button0 a button.button2 {
  padding: 20px 40px;
  border-radius: 35px;
}
section.faq {
  height: 200vh;
  background:linear-gradient(40deg, #0000FF, #FFC0CB);
}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
section.three {
	background:linear-gradient(40deg, #0000FF, #FFC0CB);
	background-size: fit;

}


section.faq h1 {
    text-align: center;
    font-size: 53px;
    font-weight: 700;

}
section.steps {
    padding: 70px 0;
    text-align: center;
}

section.faq div.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

section.faq div.container div.item p {
    max-width: 500px;
    left: 400px;
}
section.faq div.container div.item h3 {
    left: 400px;
}

section.steps h1 {
    font-size: 53px;
    font-weight: 700;
    margin-bottom: 50px;
}

section.steps ul li {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
.sectio{
    top:0px;
}


.faq-section {
    max-width: 300px; 
    margin: 0 auto;
  }
  
  .faq-box {
    border: 4px solid #000;
    padding: 20px;
    cursor: pointer;
    margin-top:60px
  }
  
  .faq-title {
    margin: 0;
  }
  
  .faq-content {
    display: none;
    margin-top:30px;
  }
  
  .faq {
    margin-bottom: 20px; 
  }
  
  .question {
    cursor: pointer;
  }
  
  .answer {
    display: none;
    margin-top: 10px;
  }
  
  .answer p {
    margin: 0;
  }
  @media (max-width: 768px) {
  
  
  }